body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
.btn-top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 40px;
	z-index: 99;
	border:none;
	outline:none;
	background-color: #2ecc71;
	color: #fff;
	cursor:pointer;
	padding:15px 40px;
	border-radius:10px;
}
.btn-top:hover {
	background-color: #27ae60;
}

div {
	box-sizing: border-box;
}

header {
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	
	height: 100vh;
}

.container {
	width: 930px;
	margin: 0 auto;
}
nav {
	float: right;
	margin-top: 45px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

li {
	cursor:pointer;
	font-weight:lighter;
	float: left;
	display: block;
	border-radius:10px;
	padding: 10px 10px;
	margin-right: 41px;
	letter-spacing: 1px;
	transition:all .2s ease-in-out;

}

li:hover {
	background: #fff;
	opacity: .8;
	box-shadow: inset 1px 1px 5px grey;
}

li:hover a {
		color: #2B2B2B;
	}

.menu a {
	color: red;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.titles__first {
	font-size: 40px;
	color: yellow;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}

h1 {
	font-size: 75px;
	color: yellow;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}

.button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
	border-radius:15px;
}

.title {
	padding-top: 115px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.services {
	margin-top: 80px;
}

.services__item	{
	width: 270px;
	float: left;
	text-align: center;
}

.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
	text-align: center;
}

.services__item p {
	color: #777777;
	font-size: 14px;
	line-height: 1.55em;
}

.services__item:last-child {
	float: right;
}

.services__item:nth-child(2) {
	margin-left: 60px;
}

#services {
	padding-bottom: 120px;
}

#portfolio {
	background: #f7f7f7;
	padding-bottom: 120px;
}

.works {
	margin-top: 70px;
}

.works img {
	display:center;
	margin: 30px auto;
}

#lastcharp {
	padding-top:115px;
}
.charp h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.charp p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.charpes {
	margin-top: 80px;
	text-align: center;
}

.charpes__item {
    margin: 0 auto;
    width: 600px;
    line-height: 1px;   
}

.charpes__item__sub {
    margin: 0 auto;
    width: 180px;
    display: inline-block;
    line-height: 1px;
    padding-bottom: 50px; 
    vertical-align: top;
    margin-right: 10px; 
}

.charpes__item h3 {
	font-size: 18px;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.charpes__item h4 {
	font-size: 18px;
	margin-bottom: 5px;
	text-align: left;
}

.charpes__item p {
	color: #777777;
	font-size: 14px;
	line-height: 1.55em;
	text-align: left;
}

footer {
	color: #777777;
	text-align: center;
	padding-top:115px;
	padding-bottom: 50px;
}